:root{
    --primary-background: #343a40;
    --secondary-foreground: #7952b3;
    --primary-foreground: #FFC107;
    --secondary-background: #E1E8Eb;
    --primary-text-color: white;
    --secondary-text-color:black;
    
}
