/* Global styles */

body {
    font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: var(--primary-background);
    padding: 20px;
    /* background-image: url("../../sofware-p/Background/Assets/wallpaper1.jpg");
    background-position:center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
     */
}
body a{
    color: var(--primary-foreground);
}

body::before {
    content: "";
    background-image: url("../../sofware-p/Background/Assets/wallpaper1.jpg");
    background-position:center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Header styles */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

nav {
    display: flex;
}

nav a {
    margin-left: 20px;
    color: var(--primary-foreground);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Filter section styles */

.filter-section {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.filter-section form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-section label {
    margin-right: 10px;
}

.filter-section select {
    padding: 10px 20px;
    margin-right: 10px;
}

.filter-section input[type="submit"] {
   
    padding: 10px 20px;
    background-color: var(--primary-foreground);
    color: var(--primary-text-color);
    border-style: none;
    border-radius: 10px;
    }
    .filter-section input[type="submit"]:hover{
        filter: brightness(115%);
    }
    .filter-section input[type="submit"]:active{
        filter: brightness(85%);
    }
    
    /* Movies section styles */
    
    .movie-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    }

    
    .movie {
    width: 30%;
    height: 700px;
    margin: 20px;
    text-align: center;
    background-color: var(--secondary-background);
    border-radius: 20px;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    position: relative;
    }
    
    .movie img {
        top: 0;
        left: 0;
        max-width: 100%;
        max-height: 400px;
        height: auto; 
        margin-bottom: 10px;
        object-fit: contain;
    
    }
    
    .movie h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    }

    .movie h4{
        border-radius: 10%/50%;
        width:fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 0;
        border-color: var(--primary-background);
        border: 2px;
        border-style: solid;
        color: var(--secondary-text-color);
    }
    
    .movie p {
    margin-bottom: 10px;
    }
    
    .movie .more_details {
    color: var(--secondary-foreground);
    text-decoration: none;
    padding-bottom: 0.5em;
    }

    
    .movie .more_details:hover {
    text-decoration: underline;
    }

    .movie .genre{
        border-radius: 10%/50%;
        padding-left: 0.5em;
        padding-right: 0.5em;
        background-color: var(--primary-background);
        color: var(--primary-text-color);
    }
    
    .movie a{
        display: block;
        text-decoration: none;
        color: inherit;
    }
    /* Footer styles */
    
    footer {
    
        text-align: center;
        font-size: 20px;
        padding: 20px;
        margin: 0;
        color: var(--primary-text-color);
        background-color: var(--primary-background);
        width:fit-content;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }

    